 * {
	     text-align: center;
	     color: #fff;
	     font-family: sans-serif;
	  }
	  body {
	    background-color: #fa3156;
	  }
	  .menu ul li {
	    display:inline-block;
	  }
	  .menu ul li a{
	    background-color: #605b5b;
	    padding: 9px;
	    text-decoration: none;
	  }
		
	.menu ul li a:hover {
	 background-color: #fff;
	color: #605b5b;
	}