* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Comfortaa", sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
}

body {
	background-color: #278;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;

}

header {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 4px 4px 10px -4px rgba(0,0,0,1);
	text-shadow: 1px 1px 7px rgba(0,255,255,1);

}

.image-perfil {
	width: 250px;
	border-radius: 50%;
}

.container-skills {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.container-skills div {
	display: flex;
    align-items: center;
    
}

.container-skills p {
	font-size: 0.9em;
	font-weight: bold;
	color: #fff;
}

.logo-skills {
	width: 100px;
}

.logo-3 {
	width: 145px;
}


.card {
	display: flex;
	flex-direction: column;
	margin: 10px;
	margin-top: 70px;
	width: 300px;
	height: 300px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    border-radius: 10px;
	align-items: center;
    justify-content: space-around;
    transition: transform .3s linear;

}

.card:hover {
    box-shadow: 1px 1px 4px rgba(0,0,0,.5);
    transform: translateY(-10px);
    transition: transform .3s linear;
}

.card p {
	text-align: center;
}

.rodape {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.links-redes {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.direitos {
	margin-top: 10px;
	color: #fff;
	font-size: 1em;
	text-transform: capitalize;
}


.barra {
    width: 200px;
    height: 20px;
    background-color: rgb(58, 132, 146);
    border-radius: 20px;
}

.nivel-html,
.nivel-css,
.nivel-python {
    background-color: #ffffff;
    border-radius: 30px 0 0 30px;
    height: 100%;
}

.nivel-html {
    width: 150px;
}

.nivel-css {
    width: 85px;
}

.nivel-python {
    width: 140px;
}

@media (max-width: 400px) {
	.image-perfil {
		width: 80%;
	}
}
